h2{
  direction: rtl;
  text-align: center;
}

form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  direction: rtl;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input,
    textarea,
    select {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
    }

    input:focus,
    textarea:focus,
    select:focus {
      border-color: #607d8b;
      outline: none;
    }
  }

  button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.1rem;
    background-color: #7c6874;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover:enabled {
      background-color: #b598a9;
    }

    &:disabled {
      background-color: #b598a960;
      cursor: not-allowed;
    }
  }
}
